In [1]:
import pip    
def install(package):
   pip.main(['install', package])

install('seaborn')

You are using pip version 7.0.3, however version 7.1.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied (use --upgrade to upgrade): seaborn in c:\users\atx\appdata\local\dato\dato launcher\lib\site-packages

In [39]:
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

import graphlab

In [195]:
train= pd.read_csv("train.csv" )
test= pd.read_csv("test.csv" )
store=pd.read_csv("store.csv")

In [196]:
train['Date']=pd.to_datetime(train['Date'])
test['Date']=pd.to_datetime(test['Date'])
print len(train)

1017209

In [197]:
#Deleting rows for State Holiday. Since the store is closed
train=train[train.StateHoliday!='a']
train=train[train.StateHoliday!='b']
train=train[train.StateHoliday!='c']
train.drop(['StateHoliday'], axis=1,inplace=True)

In [198]:
#filling out the NA of the store competion open since
avg_store_competition_open_since=round(np.mean(store['CompetitionOpenSinceYear']),0)
store['CompetitionOpenSinceYear'] = store['CompetitionOpenSinceYear'].fillna(np.float64(avg_store_competition_open_since))
store['Deviation_CompetitionOpenSinceYear']=store['CompetitionOpenSinceYear'] - avg_store_competition_open_since
store.drop(['CompetitionOpenSinceYear', 'CompetitionOpenSinceMonth'], axis=1,inplace=True)

In [199]:
#filling out Competition Distance
store['CompetitionDistance'] = store['CompetitionDistance'].fillna(np.float64(100000.0))

In [200]:
min_Promo2SinceYear=round(np.min(store['Promo2SinceYear']),0)
store['Promo2SinceYear'] = store['Promo2SinceYear'].fillna(np.float64(min_Promo2SinceYear))
store['Promo2SinceYear_edit'] = store['Promo2SinceYear'] - min_Promo2SinceYear
store.drop(['Promo2SinceYear', 'Promo2SinceWeek'], axis=1,inplace=True)

In [201]:
#manipulate StoreType
store_dummies= pd.get_dummies(store['StoreType'])
store_dummies.rename(columns={'a': 'StoreType=a', 'b': 'StoreType=b', 'c': 'StoreType=c', 'd': 'StoreType=d'}, inplace=True)
store=store.join(store_dummies_train)

assortment_dummies = pd.get_dummies(store['Assortment'])
assortment_dummies.rename(columns={'a': 'Assortment=a', 'b': 'Assortment=b', 'c': 'Assortment=c'}, inplace=True)
store=store.join(assortment_dummies_train)

In [202]:
#promoInterval Manipulation
def checkStr(x):
    if isinstance(x, basestring):
        return 1
    else:
        return 0

store['PromoIntervalBin']=store['PromoInterval'].apply(lambda x: checkStr(x))
store.drop(['PromoInterval'], axis=1,inplace=True)

In [203]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,Promo2,Deviation_CompetitionOpenSinceYear,Promo2SinceYear_edit,StoreType=a,StoreType=b,StoreType=c,StoreType=d,Assortment=a,Assortment=b,Assortment=c,PromoIntervalBin
0,1,c,a,1270,0,-1,0,0,0,1,0,1,0,0,0
1,2,a,a,570,1,-2,1,0,0,1,0,1,0,0,1
2,3,a,a,14130,1,-3,2,0,0,1,0,1,0,0,1
3,4,c,c,620,0,0,0,0,0,1,0,1,0,0,0
4,5,a,a,29910,0,6,0,0,0,1,0,1,0,0,0

In [204]:
min_date=min(train["Date"])

In [205]:
train['Days Count']=train['Date'].apply(lambda x: (x-min_date).days)

In [206]:
test['Days Count']=test['Date'].apply(lambda x: (x-min_date).days)

In [207]:
test['Open'] = test['Open'].fillna(np.float64(1.0))
test['Open'] = test['Open'].astype(np.int64)

In [208]:
# Merge training and store + test and store
train_1=pd.merge(train, store, on="Store")
train_1.drop(['Date'], axis=1)

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,Days Count,StoreType,Assortment,...,Deviation_CompetitionOpenSinceYear,Promo2SinceYear_edit,StoreType=a,StoreType=b,StoreType=c,StoreType=d,Assortment=a,Assortment=b,Assortment=c,PromoIntervalBin
0,1,5,5263,555,1,1,1,940,c,a,...,-1,0,0,0,1,0,1,0,0,0
1,1,4,5020,546,1,1,1,939,c,a,...,-1,0,0,0,1,0,1,0,0,0
2,1,3,4782,523,1,1,1,938,c,a,...,-1,0,0,0,1,0,1,0,0,0
3,1,2,5011,560,1,1,1,937,c,a,...,-1,0,0,0,1,0,1,0,0,0
4,1,1,6102,612,1,1,1,936,c,a,...,-1,0,0,0,1,0,1,0,0,0
5,1,7,0,0,0,0,0,935,c,a,...,-1,0,0,0,1,0,1,0,0,0
6,1,6,4364,500,1,0,0,934,c,a,...,-1,0,0,0,1,0,1,0,0,0
7,1,5,3706,459,1,0,0,933,c,a,...,-1,0,0,0,1,0,1,0,0,0
8,1,4,3769,503,1,0,0,932,c,a,...,-1,0,0,0,1,0,1,0,0,0
9,1,3,3464,463,1,0,0,931,c,a,...,-1,0,0,0,1,0,1,0,0,0
10,1,2,3558,469,1,0,0,930,c,a,...,-1,0,0,0,1,0,1,0,0,0
11,1,1,4395,526,1,0,0,929,c,a,...,-1,0,0,0,1,0,1,0,0,0
12,1,7,0,0,0,0,0,928,c,a,...,-1,0,0,0,1,0,1,0,0,0
13,1,6,4406,512,1,0,0,927,c,a,...,-1,0,0,0,1,0,1,0,0,0
14,1,5,4852,519,1,1,0,926,c,a,...,-1,0,0,0,1,0,1,0,0,0
15,1,4,4427,517,1,1,0,925,c,a,...,-1,0,0,0,1,0,1,0,0,0
16,1,3,4767,550,1,1,0,924,c,a,...,-1,0,0,0,1,0,1,0,0,0
17,1,2,5042,544,1,1,0,923,c,a,...,-1,0,0,0,1,0,1,0,0,0
18,1,1,5054,553,1,1,0,922,c,a,...,-1,0,0,0,1,0,1,0,0,0
19,1,7,0,0,0,0,0,921,c,a,...,-1,0,0,0,1,0,1,0,0,0
20,1,6,3530,441,1,0,0,920,c,a,...,-1,0,0,0,1,0,1,0,0,0
21,1,5,3808,449,1,0,0,919,c,a,...,-1,0,0,0,1,0,1,0,0,0
22,1,4,3897,480,1,0,0,918,c,a,...,-1,0,0,0,1,0,1,0,0,0
23,1,3,3797,485,1,0,0,917,c,a,...,-1,0,0,0,1,0,1,0,0,0
24,1,2,3650,485,1,0,0,916,c,a,...,-1,0,0,0,1,0,1,0,0,0
25,1,1,4359,540,1,0,0,915,c,a,...,-1,0,0,0,1,0,1,0,0,0
26,1,7,0,0,0,0,0,914,c,a,...,-1,0,0,0,1,0,1,0,0,0
27,1,6,4797,560,1,0,0,913,c,a,...,-1,0,0,0,1,0,1,0,0,0
28,1,5,4665,538,1,1,0,912,c,a,...,-1,0,0,0,1,0,1,0,0,0
29,1,4,5558,573,1,1,0,911,c,a,...,-1,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986129,1115,4,4711,302,1,0,0,29,d,c,...,0,3,1,0,0,0,1,0,0,1
986130,1115,3,3813,287,1,0,0,28,d,c,...,0,3,1,0,0,0,1,0,0,1
986131,1115,2,3397,277,1,0,0,27,d,c,...,0,3,1,0,0,0,1,0,0,1
986132,1115,1,3615,271,1,0,0,26,d,c,...,0,3,1,0,0,0,1,0,0,1
986133,1115,7,0,0,0,0,0,25,d,c,...,0,3,1,0,0,0,1,0,0,1
986134,1115,6,4896,394,1,0,0,24,d,c,...,0,3,1,0,0,0,1,0,0,1
986135,1115,5,5082,373,1,1,0,23,d,c,...,0,3,1,0,0,0,1,0,0,1
986136,1115,4,5650,366,1,1,0,22,d,c,...,0,3,1,0,0,0,1,0,0,1
986137,1115,3,5176,336,1,1,0,21,d,c,...,0,3,1,0,0,0,1,0,0,1
986138,1115,2,5388,329,1,1,0,20,d,c,...,0,3,1,0,0,0,1,0,0,1
986139,1115,1,3723,243,1,1,0,19,d,c,...,0,3,1,0,0,0,1,0,0,1
986140,1115,7,0,0,0,0,0,18,d,c,...,0,3,1,0,0,0,1,0,0,1
986141,1115,6,5207,369,1,0,0,17,d,c,...,0,3,1,0,0,0,1,0,0,1
986142,1115,5,4287,296,1,0,0,16,d,c,...,0,3,1,0,0,0,1,0,0,1
986143,1115,4,3039,244,1,0,0,15,d,c,...,0,3,1,0,0,0,1,0,0,1
986144,1115,3,3064,237,1,0,0,14,d,c,...,0,3,1,0,0,0,1,0,0,1
986145,1115,2,3528,277,1,0,0,13,d,c,...,0,3,1,0,0,0,1,0,0,1
986146,1115,1,3158,252,1,0,0,12,d,c,...,0,3,1,0,0,0,1,0,0,1
986147,1115,7,0,0,0,0,0,11,d,c,...,0,3,1,0,0,0,1,0,0,1
986148,1115,6,4497,350,1,0,0,10,d,c,...,0,3,1,0,0,0,1,0,0,1
986149,1115,5,5142,351,1,1,1,9,d,c,...,0,3,1,0,0,0,1,0,0,1
986150,1115,4,5007,339,1,1,1,8,d,c,...,0,3,1,0,0,0,1,0,0,1
986151,1115,3,4649,324,1,1,1,7,d,c,...,0,3,1,0,0,0,1,0,0,1
986152,1115,2,5243,341,1,1,1,6,d,c,...,0,3,1,0,0,0,1,0,0,1
986153,1115,1,6905,471,1,1,1,5,d,c,...,0,3,1,0,0,0,1,0,0,1
986154,1115,7,0,0,0,0,1,4,d,c,...,0,3,1,0,0,0,1,0,0,1
986155,1115,6,4771,339,1,0,1,3,d,c,...,0,3,1,0,0,0,1,0,0,1
986156,1115,5,4540,326,1,0,1,2,d,c,...,0,3,1,0,0,0,1,0,0,1
986157,1115,4,4297,300,1,0,1,1,d,c,...,0,3,1,0,0,0,1,0,0,1
986158,1115,3,3697,305,1,0,1,0,d,c,...,0,3,1,0,0,0,1,0,0,1

In [47]:
#Merge test and store
test=pd.merge(test, store, on="Store")
test.drop(['Date'], axis=1)

,Id,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,Days Count,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,1,1,0,0,989,c,a,1270,9,2008,0,NaN,NaN,NaN
1,857,1,3,1,1,0,0,988,c,a,1270,9,2008,0,NaN,NaN,NaN
2,1713,1,2,1,1,0,0,987,c,a,1270,9,2008,0,NaN,NaN,NaN
3,2569,1,1,1,1,0,0,986,c,a,1270,9,2008,0,NaN,NaN,NaN
4,3425,1,7,0,0,0,0,985,c,a,1270,9,2008,0,NaN,NaN,NaN
5,4281,1,6,1,0,0,0,984,c,a,1270,9,2008,0,NaN,NaN,NaN
6,5137,1,5,1,0,0,0,983,c,a,1270,9,2008,0,NaN,NaN,NaN
7,5993,1,4,1,0,0,0,982,c,a,1270,9,2008,0,NaN,NaN,NaN
8,6849,1,3,1,0,0,0,981,c,a,1270,9,2008,0,NaN,NaN,NaN
9,7705,1,2,1,0,0,0,980,c,a,1270,9,2008,0,NaN,NaN,NaN
10,8561,1,1,1,0,0,0,979,c,a,1270,9,2008,0,NaN,NaN,NaN
11,9417,1,7,0,0,0,0,978,c,a,1270,9,2008,0,NaN,NaN,NaN
12,10273,1,6,1,0,0,0,977,c,a,1270,9,2008,0,NaN,NaN,NaN
13,11129,1,5,1,1,0,1,976,c,a,1270,9,2008,0,NaN,NaN,NaN
14,11985,1,4,1,1,0,1,975,c,a,1270,9,2008,0,NaN,NaN,NaN
15,12841,1,3,1,1,0,1,974,c,a,1270,9,2008,0,NaN,NaN,NaN
16,13697,1,2,1,1,0,1,973,c,a,1270,9,2008,0,NaN,NaN,NaN
17,14553,1,1,1,1,0,1,972,c,a,1270,9,2008,0,NaN,NaN,NaN
18,15409,1,7,0,0,0,1,971,c,a,1270,9,2008,0,NaN,NaN,NaN
19,16265,1,6,1,0,0,1,970,c,a,1270,9,2008,0,NaN,NaN,NaN
20,17121,1,5,1,0,0,1,969,c,a,1270,9,2008,0,NaN,NaN,NaN
21,17977,1,4,1,0,0,1,968,c,a,1270,9,2008,0,NaN,NaN,NaN
22,18833,1,3,1,0,0,1,967,c,a,1270,9,2008,0,NaN,NaN,NaN
23,19689,1,2,1,0,0,1,966,c,a,1270,9,2008,0,NaN,NaN,NaN
24,20545,1,1,1,0,0,1,965,c,a,1270,9,2008,0,NaN,NaN,NaN
25,21401,1,7,0,0,0,1,964,c,a,1270,9,2008,0,NaN,NaN,NaN
26,22257,1,6,1,0,0,1,963,c,a,1270,9,2008,0,NaN,NaN,NaN
27,23113,1,5,1,1,0,1,962,c,a,1270,9,2008,0,NaN,NaN,NaN
28,23969,1,4,1,1,0,1,961,c,a,1270,9,2008,0,NaN,NaN,NaN
29,24825,1,3,1,1,0,1,960,c,a,1270,9,2008,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,16264,1115,7,0,0,0,1,971,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41059,17120,1115,6,1,0,0,1,970,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41060,17976,1115,5,1,0,0,1,969,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41061,18832,1115,4,1,0,0,1,968,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41062,19688,1115,3,1,0,0,1,967,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41063,20544,1115,2,1,0,0,1,966,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41064,21400,1115,1,1,0,0,1,965,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41065,22256,1115,7,0,0,0,1,964,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41066,23112,1115,6,1,0,0,1,963,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41067,23968,1115,5,1,1,0,1,962,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41068,24824,1115,4,1,1,0,1,961,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41069,25680,1115,3,1,1,0,1,960,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41070,26536,1115,2,1,1,0,1,959,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41071,27392,1115,1,1,1,0,1,958,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41072,28248,1115,7,0,0,0,1,957,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41073,29104,1115,6,1,0,0,1,956,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41074,29960,1115,5,1,0,0,1,955,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41075,30816,1115,4,1,0,0,1,954,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41076,31672,1115,3,1,0,0,1,953,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41077,32528,1115,2,1,0,0,1,952,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41078,33384,1115,1,1,0,0,1,951,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41079,34240,1115,7,0,0,0,1,950,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41080,35096,1115,6,1,0,0,1,949,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41081,35952,1115,5,1,1,0,1,948,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41082,36808,1115,4,1,1,0,1,947,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41083,37664,1115,3,1,1,0,1,946,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41084,38520,1115,2,1,1,0,1,945,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41085,39376,1115,1,1,1,0,1,944,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41086,40232,1115,7,0,0,0,1,943,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"
41087,41088,1115,6,1,0,0,1,942,d,c,5350,NaN,NaN,1,22,2012,"Mar,Jun,Sept,Dec"

In [52]:
len(train_1)

1017209

In [53]:
train_1=train_1[train_1.StateHoliday==0]
len(train_1)

131072

In [38]:
train_1.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Days Count,...,Promo2SinceWeek,Promo2SinceYear,PromoInterval,StoreType=a,StoreType=b,StoreType=c,StoreType=d,Assortment=a,Assortment=b,Assortment=c
310,1,3,2014-09-24,3405,465,1,0,0,0,631,...,NaN,NaN,NaN,0,0,1,0,1,0,0
311,1,2,2014-09-23,3407,437,1,0,0,0,630,...,NaN,NaN,NaN,0,0,1,0,1,0,0
312,1,1,2014-09-22,3982,466,1,0,0,0,629,...,NaN,NaN,NaN,0,0,1,0,1,0,0
313,1,7,2014-09-21,0,0,0,0,0,0,628,...,NaN,NaN,NaN,0,0,1,0,1,0,0
314,1,6,2014-09-20,3911,500,1,0,0,0,627,...,NaN,NaN,NaN,0,0,1,0,1,0,0